.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img {
    max-width: 256px;
    height: 256px;
    border-radius: 8px;
    background: #00ad64;
}

.price {
    font-size: 18px;
    font-weight: 700;
    color: #262626;
}

.title {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
}

.location,
.date {
    color: #808080;
    font-size: 14px;
}

.location {
    margin-top: 2px;
}
