.container {
    margin: 0 auto;
    max-width: 1320px;
    height: 100%;
}

.otherLinks {
    transition: color 0.1s ease-out;
}

.otherLinks:hover {
    color: #7fd5b1;
}
.headerTop {
    width: 100%;
    height: 48px;
    background: #4b4b4b;
}
.headerTopWrapper {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.headerTopLeft,
.headerTopRight {
    display: flex;
}

.headerTopLeft {
    gap: 1rem;
}

.headerTopRight {
    gap: 1.5rem;
}

.headerTopRight svg {
    cursor: pointer;
}

.headerTopRight svg path {
    transition: color 0.1s ease-out;
}

.headerTopRight svg path {
    color: #fff;
}
.headerTopRight svg:hover path {
    color: #7fd5b1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}
.headerLeft,
.headerRight {
    display: flex;
}
.logo {
    width: 130px;
    margin-right: 1rem;
}

.categoriesBtnWrapper {
    position: relative;
    margin-right: 1rem;
}

.categoriesBtn {
    width: 132px;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    background: #4b4b4b;
    font-size: 14px;
    padding-left: 32px;
}
.lines {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
}

.line {
    margin-top: 3px;
    display: block;
    width: 18px;
    height: 2px;
    background: #fff;
    transition: all 0.3s;
}
.line:first-child {
    margin-top: 0;
}

.lines.active .line:nth-child(2) {
    display: none;
}

.lines.active .line:nth-child(1) {
    transform: rotate(45deg);
}

.lines.active .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-2px) translateX(1px);
}

.lines.active .line {
    margin-top: 0;
}

.searchInput {
    width: 490px;
    height: 40px;
    padding-left: 16px;
    padding-right: 32px;
    background: #ededed;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    outline: none;
    color: #323232;
}

.searchWrapper {
    position: relative;
    display: flex;
    margin-right: 0.75rem;
}

.searchIcon {
    padding: 0 8px;
    background: #ededed;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
}

.searchIcon.active {
    background: #00ad64;
    cursor: pointer;
}

.searchIcon svg path {
    stroke: none;
    color: #a6a6a6;
}
.searchIcon.active svg path {
    color: #fff;
}
.searchInput.active {
    border: 1px solid #00ad64;
    background: #fff;
}

.cross {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    cursor: pointer;
}

.cross.hide {
    display: none;
}
.addOffer {
    margin-right: 1rem;
    background: #00ad64;
    height: 40px;
    display: flex;
    gap: 8px;
    padding-left: 8px;
    padding-right: 16px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: none;
    align-items: center;
}
.addOffer:hover {
    background: #009a59;
}
.addOffer:active {
    background: #008950;
}
.addOfferText {
    font-size: 14px;
    font-weight: 600;
}

.loginBtn {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #00ad64;
    border: 1px solid #00ad64;
    outline: none;
    cursor: pointer;
}

.loginBtn:hover {
    background: #ebf9f3;
}

.loginBtn:active {
    background: #d6f2e6;
}

.popularCategoriesText {
    color: #262626;
    font-size: 18px;
    font-weight: 600;
}

.popularCategoriesWrapper {
    max-width: 900px;
    margin-top: 1rem;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    user-select: none;
    scroll-behavior: auto;
}

.popularCategoriesBlock {
    margin-right: 2rem;
}
.popularCategoriesBlock:last-child {
    margin-right: 0;
}

.sectionWrapper {
    display: flex;
    justify-content: space-between;
}

.popularCategories {
    margin-top: 1rem;
}

.newsBannersWrapper {
    margin-top: 1rem;
}

.popularCategoriesBlock *:last-child {
    margin-bottom: 0;
}

.newsBanners {
    height: 158px;
    width: 900px;
    display: flex;
    overflow-x: scroll;
    gap: 0.5rem;
    user-select: none;
}

.filterWrapper {
    padding-top: 8px;
    width: 300px;
}

.filter {
    margin-top: 40px;
    gap: 1rem;
}

.filter * {
    color: black;
}

.filterPriceText,
.filterStateText {
    font-size: 14px;
    color: #262626;
    font-weight: 700;
    line-height: 20px;
}

.filterPriceInputs {
    margin-top: 0.25rem;
}

.filterPriceInputs * {
    width: 50%;
}

.filterPriceInputs input {
    padding: 8px 16px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: inset 0 0 0 0.5px #d9d9d9;
    color: #000;
}

.filterPriceInputs input::placeholder {
    color: #262626;
}

.filterPriceInputs input:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.filterPriceInputs input:focus {
    box-shadow: inset 0 0 0 1px #00ad64;
}

.filterPriceInputs input:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.filterStateWrapper {
    margin-top: 0.25rem;
}
.filterStateButtons {
    display: flex;
    gap: 8px;
}
.filterStateType {
    padding: 0 16px;
}

.filterStateType {
    border: 1px solid #d9d9d9;
    height: 36px;
    font-style: 14px;
    color: #262626;
    transition: all 0.2s ease-in;
    cursor: pointer;
    border-radius: 40px;
}

.filterStateType:hover {
    border: 1px solid #a6a6a6;
}

.filterStateType.active {
    background-color: #4b4b4b;
    border-color: #4b4b4b;
    color: #fff;
}

.filterElectionsWrapper {
    margin-top: 0.25rem;
}

.filterElectionsWrapper:first-child {
    margin-top: 0;
}

.filterElectionWrapper {
    margin-top: 0.5rem;
}

.filterElectionWrapper label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.filterElectionWrapper input {
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid #a6a6a6;
    border-radius: 4px;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.filterElectionWrapper input:checked {
    background: #00ad64;
    border-color: #00ad64;
}

.filterElectionsWrapper input::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('src/images/icons/daw.svg');
    background-position: 50%;
}

.filterElectionWrapper label:hover input {
    border-color: #00ad64;
}

.filterElectionText {
    font-size: 14px;
    height: 19px;
    color: #262626;
}

.filterWrapper > button,
.filterSticky button {
    font-weight: 700;
    margin-top: 8px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    transition: 0.2s all ease-in-out;
}
.filterWrapper button:first-child {
    margin-top: 4px;
}
.filterWrapper .filterResetSearch {
    margin-top: 0;
}

.filterSaveSearch {
    color: rgb(0, 173, 100);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 1px solid #d9d9d9;
}

.filterSaveSearch:hover {
    border: 1px solid #a6a6a6;
}

.filterSaveSearch path:first-child {
    stroke: rgb(0, 173, 100);
    stroke-width: 2;
    color: transparent;
}

.filterSaveSearch path:last-child {
    color: rgb(0, 173, 100);
}

.filterResetSearch {
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.filterResetSearch:hover {
    color: #262626;
}

.filterSearch {
    color: #fff;
    background-color: #00ad64;
    margin-bottom: 8px;
}

.filterSearch:hover {
    background-color: #009a59;
}

.filterSearch:active {
    background-color: #008950;
}

.filterSticky {
    background: #fff;
    position: sticky;
    bottom: 0;
}

.offers {
    flex: 1;
}
.offersWrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.offersTitle {
    font-size: 24px;
    color: #000;
    font-weight: 700;
}

.offersTypes {
    margin-top: 28px;
    display: flex;
    gap: 16px;
}

.offersType {
    font-size: 14px;
    cursor: pointer;
}

.offersType.active {
    font-weight: 700;
}

.offersAllBtn {
    padding: 0 16px;
    background: #007aff;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .headerTop,
    .filterWrapper,
    .banner {
        display: none;
    }
}

@media (max-width: 768px) {
    .offers {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .offers {
        grid-template-columns: 1fr 1fr;
    }
}
